.card-body {
    text-transform: uppercase;
        box-shadow: 0 3px 8px rgba(0, 0, 0 ,0.8);
    transition: 0.6s;
}

.card-body:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0 ,0.8);
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

.task-item {
    transition: all 0.3s;
}

.task-done {
    opacity: 0.6;
    text-decoration: line-through;
    transform: scale(0.98);
}